__WinHttpURLEncode, "[", "]", "%", and " " do not appear to get encoded

Was looking into using this UDF in one of my current applications.

Looking into __WinHttpURLEncode it appears that "[", "]", "%", and " " do not get encoded

https://github.com/dragana-r/autoit-winhttp/blob/e82bc44096101a27b77f0c03421e82f0d4741a59/WinHttp.au3#L2054

This violates [RFC 3986, Section 2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2). I can make a pull request if needed.